@charset "UTF-8";

/* CONFIG DE TUDO */

*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif ;
  
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: antiquewhite;
    text-shadow: 3px 3px 0px #1e2fb4;
    padding: 10px;
    
}
