@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-shadow: 0px;
}
body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    height: 80vh;
    width: 100vw;
}
header{
    background-color:rgb(109, 106, 106) ;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1{
    
    flex:  0 0 200px;
}
header > nav{
    border: 1px dotted black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

main{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black ;
    margin: 10px;
}
header > nav > a{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
header > nav > :hover{
    background-color: white;
    color: black;
    transition:background-color 0.7s;

}

