@charset "UTF-8";

body{
    background-color: rgb(238, 143, 162);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1#principal {
 text-align: center;
    color: rgb(54, 7, 7);
    font-family: fantasy;
}
h1{

    color: rgb(201, 190, 211);
}
h2#basico{
    color: rgb(2, 12, 24);
}
h2#intermediario{
    color: chocolate;
}
h2#avançado{
    color: brown;
}
.basico{
    color: blue;
}
.intermediario{
    color: black;
}
.avançado{
    color: cadetblue;
}